
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product List</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>
    <h1>Products</h1>
    <div class="product-list">
        {% for product in products %}
            <div class="product">
                <h2>{{ product.name }}</h2>
                <img src="{{ product.image.url }}" alt="{{ product.name }}">
                <p>{{ product.description }}</p>
                <p>₹{{ product.price }}</p>
            </div>
        {% endfor %}
    </div>
</body>
</html>
